body{
    background-color: #000;
}

.container{
    width: 100%; 
}

.nav-bar{
    background-color: #66646475;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
}

.nav-bar .logo{
    color: #FFF;
    margin-left: 30px;
    font-size: 15px;
    font-family:'Courier New',monospace;
    text-shadow: 1px 5px 4px #e1dddd;
    
    /* width: 150px;
    display: flex;
    align-items: center;
    margin-left: 15px; */
}

.nav-bar .links_paginas ul{
    display: flex;
    text-align: center;
    list-style-type: none;
    list-style: none;
}

/* .nav-bar ul li a{
    padding: 20px; 
    color: #FFF;
    text-decoration: none;
} */

/* .nav-bar ul li a:hover{
    color: #000;
    font-size: 20px;
    text-shadow: 1px 5px 10px #000;
} */

/* .banner{
    display: flex;
    justify-content: center;
    align-items: center;
} */

.banner img{
    width: 100%;
}

.historia{
    width: 70%;
    margin: auto;
    display: block;
}

.historia p, h2{
    text-align: center;
}

.colaboradores{
    text-align: center;
}

.colaboradores .cards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 100px 0;
}

.colaboradores .cards img{
    width: 80px;
}

iframe{
    margin: auto;
    display: block;
}

footer{
    padding: 20px 0;
    margin: 10px 0 5px 0;
    background-color: #CCC;
    text-align: center;
}

